.cold-3 {
  background-color: #9dbcf9;
}
.cold-2 {
  background-color: #9adefa;
}

.cold-1 {
  background-color: #99fbfc;
}

.cold {
  background-color: #99f9dc;
}

.warm-1 {
  background-color: #97f8bb;
}
.warm-2 {
  background-color: #b9f799;
}

.warm-3 {
  background-color: #fcfa9a;
}

.warm-4 {
  background-color: #f29798;
}

.warm-5 {
  background-color: #fbdc98;
}

.warm-6 {
  background-color: #f5b999;
}

.warm-default {
  background-color: #39322c;
}
