.Forecast h5 {
  margin-left: 15px;
  font-weight: lighter;
}
.Forecast ul {
  margin-top: 15px;
  margin-left: 15px;
  list-style: none;
  padding: 0;
}

.Forecast li {
  text-align: center;
  font-size: 14px;
}

.Forecast img {
  max-width: 30px;
  max-height: 30px;
  margin: 0 auto;
  text-align: center;
}
