.App {
  font-family: Helvetica, sans-serif;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.App .container {
  max-width: 600px;
  border: solid 1px #dadde1;
  border-radius: 8px;
  padding: 20px 16px 24px;
  position: relative;
  display: block;
  margin-top: 50px;
}

.App .link {
  font-family: monospace;
}

.App footer {
  text-align: center;
  margin: 15px;
}
